
<body>
  <div class="panel shadow">
    <div class="panel-body">
        <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Purchase order successfully added!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="taxrate-blank-alert"  aria-live="rude" role="alert" hidden>
      {% trans %}Purchase enter tax rate!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

      {% trans %}Please enter date within the financial year!{% endtrans %}
    </div>
	    <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Please select a product!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="price-blank-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Please enter price of product!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="creditperiod-blank-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Please enter credit period!{% endtrans %}
      </div>
	    <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>
         {% trans %}Please enter product quantity!{% endtrans %}
       </div>
      <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Purchase order already exists!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Something went wrong!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="purchaseorder_orderno-blank-alert"  aria-live="rude" role="alert" hidden>
          {% trans %}Please enter orderno!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="purchaseorder_date-alert" aria-live="rude" role="alert" hidden>
         {% trans %}Please enter purchase order date in proper format!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="date-improper-alert" aria-live="rude" role="alert" hidden>
       {% trans %}Improper Date!{% endtrans %}
     </div>
       <div class="alert alert-danger" id="modeofpayment-blank-alert"  aria-live="rude" role="alert" hidden>
         {% trans %}Please enter mode of payment!{% endtrans %}
       </div>
       <div class="alert alert-danger" id="modeoftransport-blank-alert"  aria-live="rude" role="alert" hidden>
        {% trans %}Please enter mode of transport!{% endtrans %}
       </div>
       <div class="alert alert-danger" id="designation-blank-alert"  aria-live="rude" role="alert" hidden>
       {% trans %}Please enter designation!{% endtrans %}
       </div>
       <div class="container-fluid">
         <div class="row">
           <div class="col-md-2">
         			<div class="form-group">
                   <label for="purchaseorder_orderno">{% trans %}Order No{% endtrans %} :</label>
                   <input class="form-control input-sm" id="purchaseorder_orderno"  placeholder="{% trans %}Enter order no{% endtrans %}">
         			</div>
             </div>
         <div class="col-md-2">
                <div class="form-group">
                     <label for="purchaseorder_date">{% trans %}Order Date{% endtrans %} :</label>
                     <div class="form-inline ">
                       <div class="form-group">
                         <input type="text" class="form-control input-sm podate" size="2" maxlength="2" placeholder="DD" id="purchaseorder_date">
                       </div>
                       <div class="form-group">
                         <input type="text" class="form-control input-sm podate" size="2" maxlength="2" placeholder="MM" id="purchaseorder_month">
                       </div>
                       <div class="form-group">
                         <input type="text" class="form-control input-sm podate" size="4" maxlength="4" placeholder="YYYY" id="purchaseorder_year">
                       </div>
         		          </div>
                 </div>
               </div>
         <div class="col-md-2">
           <div class="form-group">
                <label for="issuername">{% trans %}Issuer Name{% endtrans %} :</label>
                 <input class="form-control input-sm" id="purchaseorder_issuername" placeholder="" accesskey="" disabled></input>
           </div>
         </div>
         <div class="col-md-2">
             <div class="form-group">
               <label for="designation">{% trans %}Designation{% endtrans %} :</label>
               <input style="border-radius: 4px" id="designation" type="text" class="form-control input-sm" name="desg"></input>
             </div>
        </div>
         <div class="col-md-2">
         		<div class="form-group">
         			 <label for="payterms">{% trans %}Mode of Payment{% endtrans %} :</label>
         			<input style="border-radius: 4px" id="payterms" type="text" class="form-control input-sm" name="modeofpayment"></input>
         		</div>
           </div>
         <div class="col-md-2">
         		<div class="form-group">
         		<label for="modeoftransport">{% trans %}Mode of Transport{% endtrans %} :</label>
         		<input style="border-radius: 4px" id="modeoftransport" type="text" class="form-control input-sm" name="modeoftransport" placeholder="eg. By Road, By Rail, By Air, By Sea, By Hand delivery, By Courier, etc."></input>
         		</div>
           </div>

         </div>
         <div class="row">
             <div class="col-md-2">
             		<div class="form-group">
             			<label for="creditperiod">{% trans %}Credit Period{% endtrans %} :</label>
             			<input style="border-radius: 4px" id="creditperiod" type="text" class="form-control input-sm" name="creditperiod"></input>
             		</div>
               </div>
               <div class="col-md-1">
         					<label for="purchaseorder_supplier">
         						{% trans %}Supplier{% endtrans %} :
         					</label>
         					<select class="form-control input-sm" id="purchaseorder_supplier" accesskey="">
         						<option value="" disabled hidden selected>
         							{% trans %}Select{% endtrans %}
         							</option>
         							{% for supplier in suppliers %}
         							<option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
         							{% endfor %}
         					</select>
         </div>
         <div class="col-md-3">
                   <div class="form-group">
                     <label for="purchaseorder_supplieraddr">
                       {% trans %}Supplier Address{% endtrans %} :
                     </label>
                     <input class="form-control input-sm" id="purchaseorder_supplieraddr" placeholder="Select Supplier to see Address" accesskey="" disabled>
                   </div>
         </div>
                   <div class="col-md-2">
                   <div class="form-group">
                     <label for="purchaseorder_suppliertin">
                       {% trans %}Supplier TIN{% endtrans %} :
                     </label>
                     <input class="form-control input-sm" id="purchaseorder_suppliertin" placeholder="{% trans %}Select Supplier to see TIN{% endtrans %}" accesskey="" disabled>
                   </div>
         </div>
                 <div class="col-md-2 purchaseorderstate" >
                   <div class="form-group">
                     <label for="purchaseorder_state">{% trans %}VAT Applicable to{% endtrans %} :</label>
                     <select class="form-control input-sm tax_state product_new_state" id="purchaseorder_state">
                       <option value="">None</option>
                       <option value="Central">Central</option>
                       <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                       <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                       <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                       <option value="Assam" stateid="4">Assam</option>
                       <option value="Bihar" stateid="5">Bihar</option>
                       <option value="Chandigarh" stateid="6">Chandigarh</option>
                       <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                       <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                       <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                       <option value="Delhi" stateid="10">Delhi</option>
                       <option value="Goa" stateid="11">Goa</option>
                       <option value="Gujarat" stateid="12">Gujarat</option>
                       <option value="Haryana" stateid="13">Haryana</option>
                       <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                       <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                       <option value="Jharkhand" stateid="16">Jharkhand</option>
                       <option value="Karnataka" stateid="17">Karnataka</option>
                       <option value="Kerala" stateid="19">Kerala</option>
                       <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                       <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                       <option value="Maharashtra" stateid="22">Maharashtra</option>
                       <option value="Manipur" stateid="23">Manipur</option>
                       <option value="Meghalaya" stateid="24">Meghalaya</option>
                       <option value="Mizoram" stateid="25">Mizoram</option>
                       <option value="Nagaland" stateid="26">Nagaland</option>
                       <option value="Odisha" stateid="29">Odisha</option>
                       <option value="Pondicherry" stateid="31">Pondicherry</option>
                       <option value="Punjab" stateid="32">Punjab</option>
                       <option value="Rajasthan" stateid="33">Rajasthan</option>
                       <option value="Sikkim" stateid="34">Sikkim</option>
                       <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                       <option value="Telangana" stateid="36">Telangana</option>
                       <option value="Tripura" stateid="37">Tripura</option>
                       <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                       <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                       <option value="West Bengal" stateid="41">West Bengal</option>
                     </select>
                   </div>
             </div>
             <div class="col-md-2">
               <label for="po_to_godown">{% trans %} To Godown:{% endtrans %}</label>
               <select class="form-control input-sm togodown" id="po_togodown" accesskey="">

                  <option value="0">None</option>
                 {% for godown in godowns %}
                 <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
                 {% endfor %}
               </select>
               </div>
         </div>
         <div class="row" >
         <table id="purchaseorder_product_table" class="shadow table table-condensed table-bordered fixed-table fixed-tablepurchase">
           <thead class="bg-primary">
             <tr>
               <th class="col-md-3 text-center">{% trans %}Product{% endtrans %}</th>
               <th class="col-md-2 text-center">{% trans %}Quantity{% endtrans %}</th>
                <th class="col-md-2 text-center">{% trans %}Number of Packages{% endtrans %}</th>
                <th class="col-md-2 text-center">{% trans %}Staggered Delivery{% endtrans %}</th>
               <th class="col-md-2 text-center">{% trans %}Price Per Unit{% endtrans %}</th>
               <th class="col-md-2 text-center">{% trans %}Tax Rate{% endtrans %}</th>

               <th class="col-md-1"></th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td class="col-md-3">
                 <select class="form-control input-sm product_name">
                   <option value="" disabled hidden selected>Select Product</option>
                   {% for product in products %}
                   <option value="{{product['productcode']}}">{{product["productdesc"]}}</option>
                   {% endfor %}
                 </select>
               </td>
               <td class="col-md-2">
                 <div class="input-group">
                   <input type="text" class="form-control input-sm text-right purchaseorder_product_quantity " value="0" placeholder="0" aria-describedby="unitaddon">
                   <span class="input-group-addon input-sm" id="unitaddon"></span>
                 </div>
               </td>
               <td class="col-md-2">
         					<input type="text" class="form-control input-sm text-right purchaseorder_product_packages" value="0.00">
         			</td>
              <td class="col-md-2">
                <button class="btn btn-info btn-sm purchaseorder_product_schedule" id="addschedule" data-toggle="modal" data-target="#addpomodal" disabled>{% trans %}Add Schedule{% endtrans %}</button>
              </td>
              <td class="col-md-2">
                <input type="text" class=" form-control input-sm text-right numtype purchaseorder_product_per_price" value="0.00" placeholder="0.00">
              </td>
               <td class="col-md-2">
                 <input type="text" class="form-control input-sm text-right numtype purchaseorder_product_tax_rate" value="0.00" placeholder="0.00" disabled>
               </td>

               <td class="col-md-1">
               </td>
             </tr>
           </tbody>
         </table>
         </div>
         </div>
         		<div class="panel-footer">
         			<div class="container-fluid">
         				<button type="submit" class="btn btn-success btn-sm" id="posubmit" name="submit">{% trans %}Save{% endtrans %}</button>
         				<button id="poreset" class="btn btn-warning btn-sm">{% trans %}Reset{% endtrans %}</button>
         			</div>
               <div id="confirm_yes" class="modal" tabindex="-1" role="dialog">
                 <div class="vertical-alignment-helper">
                   <div class="modal-dialog modal-sm vertical-align-center">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
                       </div>
                       <div class="modal-body">
                         <p>{% trans %}Are you sure?{% endtrans %}</p>
                       </div>
                       <div class="modal-footer">
                         <button type="button" id ="po_save_no" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
                         <button type="button" id="po_save_yes" data-dismiss="modal" class="btn btn-success">{% trans %}Yes{% endtrans %}</button>
                       </div>
                     </div><!-- /.modal-content -->
                   </div><!-- /.modal-dialog -->
                 </div>
               </div><!-- /.modal -->
       </div>
		</div>
</div>
<!-- Add schedule popup modal-->
<div id="addpomodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        {% trans %}Add Staggered Delivery Schedule{% endtrans %}
      </div>
    </div>
    <div class="modal-body">
      <div class="panel shadow">
        <div class="panel-body">
          <div class="row">
            <div class="alert alert-danger" id="dates-improper-alert" aria-live="rude" role="alert" hidden>
             {% trans %}Improper Date!{% endtrans %}
           </div>
           <div class="alert alert-success" id="packages-blank-alert"  aria-live="rude" role="alert" hidden>
           {% trans %}Please enter number of packages!{% endtrans %}
           </div>
           <div class="alert alert-danger" id="betweens-date-alert" aria-live="rude" role="alert" hidden>

             {% trans %}Please enter date within the financial year!{% endtrans %}
           </div>
           <div class="alert alert-success" id="packages-alert"  aria-live="rude" role="alert" hidden>
           {% trans %}Please enter valid number of packages!{% endtrans %}
           </div>

          <table id="schedule_table" class="shadow table table-condensed table-bordered fixed-table fixed-tablepurchase">
            <thead class="bg-primary">
              <tr>
                <th class="col-sm-6 text-center">{% trans %}Delivery Date{% endtrans %}</th>
                <th class="col-sm-4 text-center">{% trans %}Number of packages{% endtrans %}</th>
                <th class="col-sm-2"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="schedulerow" value="0">
                <td class="col-sm-6">
                  <div class="form-group">
                       <div class="form-inline ">
                         <div class="form-group">
                           <input type="text" class="form-control input-sm sodate soday" size="2" maxlength="2" placeholder="DD" >
                         </div>
                         <div class="form-group">
                           <input type="text" class="form-control input-sm sodate somonth" size="2" maxlength="2" placeholder="MM" >
                         </div>
                         <div class="form-group">
                           <input type="text" class="form-control input-sm sodate soyear" size="4" maxlength="4" placeholder="YYYY">
                         </div>
                        </div>
                   </div>
                </td>
                <td class="col-sm-4">
                    <input type="text" class="form-control input-sm text-right purchaseorder_schedule_packages" value="0.00">
                </td>
                <td class="col-sm-2"><a href="#" class="scheduledel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
              </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>
    <small id="exithelp" class="form-text text-muted">{% trans %}Press Esc key to save schedule. {% endtrans %}</small><br>
    <small id="navigate" class="form-text text-muted">Press 'Tab' and 'Shift + Tab' to navigate through fields.</small>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success pull-left" data-dismiss="modal">Done</button>
      </div>
</div>
</div>
<!-- addpomodal ends  here-->

<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addpurchaseorder.js')}}"></script>
</body>
